# The role is that there is no notebooks
**.ipynb 

# environment
env/
venv/
ENV/
.venv/
bin/
build/
include/
lib/
scripts/
pyvenv.cfg 
*.env 
.env.* 

# settings & cache 
.vscode/
.vscode/* 
**/__pycache__

# Model outputs (github can not handle large files)
*.h5 
*.ckpt 
*.pth 
*.model 

# log files 
*.log 

# custom files 
book-cover.png
test.py 